<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <style type="text/css">
            a:link { text-decoration: none !important; }
            a:hover { text-decoration: none !important; }
            a:active { text-decoration: none !important; }
            a:visited { text-decoration: none !important; }
            body {
                font-family: 'Ubuntu', sans-serif;
                text-decoration: none;
                webkit-text-decoration: none;
            }
            tr.spaceUnder > td
            {
                  padding-bottom: 2em;
            }
            p.blocktext {
                margin-left: 20%;
                margin-right: 20%;
                width: 60%; 
                text-align: justify;
                text-decoration: none;
            }
            table {
                background-color: #fafafa;
                border-radius: 5px;
                width: 60%;
                margin: 0 auto;
            }
            table tr:hover {
                background-color: #ddd;
            }
            table td, table th {
                border: 0px solid #999999;
                text-align: justify;
                padding: 4px;
                border-radius: 5px;
            }
            div#postDate {
                text-align: left;
                color: #b0b0b0;
            }
            div#footerCopyright {
                text-align: center;
                color: #b7b7b7;
                font-size: 60%;
            }
            div#content {
                text-align: justify;
                width: 60%;
                margin:0 auto;
            }
            div#wrapperHeader {
                width:100%;
                height:200px;
                background:url(/images/blinky.png) repeat-x 0 0;
                text-align:center;
                border-radius: 10px;
            }
            div#wrapperHeader div#header {
                width:1000px;
                height:200px;
                margin:0 auto;
                color: white;
                text-align: center;
            }
            /*
            div#wrapperHeader div#header img {
                width:;
                height:;
                margin:0 auto;
            }
            */
        </style>
        {% if page.collection == "posts" %}
            <title>blog.ndenev.com - {{ page.title }} - {{ page.published_date }}</title>
        {% else %}
            <title>blog.ndenev.com</title>
        {% endif %}
    </head>
    <body>
    <div id="wrapperHeader">
        <a href="/">
         <div id="header">
            <br/>
            <h2>blog.ndenev.com</h2>
            {% if page.collection == "posts" %}
                <h3>{{ page.title }}</h3>
                <h4>{{ page.published_date }}</h4>
            {% endif %}
        </div> 
        </a>
    </div>
    <div id="content">
      {% if page.collection == "posts" %}
        {% include "post.liquid" %}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
    <script id="dsq-count-scr" src="https://blog-ndenev.disqus.com/count.js" async></script>
    <div id="footerCopyright">
        <br>
        <br>
        Copyright(c) 2016 by Nikolay Denev. All Rights Reserved.
        Powered by <a href="http://cobalt-org.github.io">Cobalt</a>
    </div> 
  </body>
</html>
