<div>
  <h2>{{ page.title }}</h2>
  <h4>{{ page.published_date }}</h4>
  <p class="blocktext">
    {{ page.content }}
  </p>
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
      this.page.url = 'https://blog.ndenev.com/{{ page.permalink }}';
      this.page.identifier = '{{ page.permalink }}';
      this.page.title = '{{ page.title }}';
  };
  (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://blog-ndenev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="/">Back to Index</a>
</div>


